/*!
The custom stuff starts here!
*/
html,
button,
input,
select,
textarea{
  /* Set your content font stack here: */
  font-family: 'Source Sans Pro', sans-serif;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
a:visited{
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

.content a,
footer a,
footer a:visited{
  color: #db4105;
}

h1{
  font-weight: normal;
  margin-bottom: 0;
}
.sidebar{
  background-color: #222;
  padding: 1rem;
  color: #ededed;
}
.sidebar header h1,
.sidebar header small{
  text-align: right;
}
.sidebar header small{
  display: block;
}
.sidebar nav{
  background-color: #ededed;
  border: 1px solid #dedede;
  margin-top: 2rem;
}
.sidebar nav h2{
  margin: 0.5rem 1rem;
  text-transform: uppercase;
  font-size: 0.9rem;
}
.sidebar nav h2,
.sidebar nav ul li a{
  color: #222;
}
.sidebar nav ul{
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}
.sidebar nav ul li a{
  display: block;
  line-height: 2rem;
  padding-left: 1rem;
}
.sidebar nav ul li a:hover{
  background-color: #d6d6d6;
  text-decoration: none;
}

.content article{
  border-bottom: 1px solid #ededed;
}

footer{
  margin-top: 2rem;
  text-align: right;
  font-size: 0.8rem;
}

@media screen and (min-width: 48rem){
  .content{
    margin-left: 35%;
    padding-left: 0.5rem;
  }
  .sidebar{
    padding-top: 0;
    padding-bottom: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 35%;
  }
}
@media screen and (min-width: 64rem){
  .content{
    margin-left: 20%;
  }
  .sidebar{
    width: 20%;
  }
}